# General configurations
MEDIAWIKI_SITE_SERVER=http://localhost:8000
MEDIAWIKI_SITE_NAME=My Awesome Wiki
MEDIAWIKI_SITE_LANG=en

# Wiki access
MEDIAWIKI_ADMIN_USER=admin
MEDIAWIKI_ADMIN_PASS=admin12345
MEDIAWIKI_SECRET_KEY=random-64-character-string
MEDIAWIKI_UPGRADE_KEY=random-16-character-password

# Database configuration
MEDIAWIKI_DB_HOST=wiki-database
MEDIAWIKI_DB_TYPE=mysql
MEDIAWIKI_DB_PORT=3306
MEDIAWIKI_DB_USER=
MEDIAWIKI_DB_PASSWORD=
MEDIAWIKI_DB_NAME=mediawiki

# Additional configurations
MEDIAWIKI_DEFAULT_SKIN=vector
MEDIAWIKI_EXTENSIONS=CodeEditor,Nuke,ReplaceText,VisualEditor,WikiEditor
MEDIAWIKI_ALLOW_SITE_CSS_ON_RESTRICTED_PAGES=true
